body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}


.ant-layout-header{
  background-color: 'white' !important;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: auto;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

Button {
  background-color: #8BC34A !important;
}
